body,
html {
  margin: 0;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f3abed;
  font-family: Arial, sans-serif;
  color: white;
}

.cont {
  position: relative; /* ВАЖНО – теперь это главная зона движения */
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 50px;
  background-color: #fff;
  border-radius: 20px;

  width: 80%;
  height: 70%;
}

.title {
  font-size: 80px;
  text-align: center;
  color: black;
}
.title-success {
  color: black;
  font-size: 180px;
  text-align: center;
}
.btn {
  font-size: 40px;
}

.buttons {
  margin-top: 200px;
  margin-right: 400px;
}

button {
  padding: 70px 80px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: transform 0.2s ease;
}

#yesBtn {
  background: #2ecc71;
  color: white;
}

#noBtn {
  background: #e74c3c;
  color: white;

  position: absolute; /* будет бегать по .cont */

  top: 540px; /* стартовое положение */
  left: 530px;
}

.bottom-text {
  display: none;
  margin-top: 20px;
  font-size: 45px;
  color: deeppink;
  font-weight: bold;
  animation: fadeIn 1.5s ease forwards;
}

.bottom-text-active {
  display: block;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}


#resultImg {
  display: none;
  margin-top: 30px;
  width: 90%;
  border-radius: 15px;
  z-index: 2;
  position: relative;
}

.img {
  width: 160%;
  margin-left: 30px;
  height: 100%;
}

/* Контейнер для сердечек */
.hearts {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  overflow: hidden;
  z-index: 0;
}

.tenor-gif-embed {
  width: 900px;
  height: 800px;
}

/* Одно сердечко */
.heart {
  position: absolute;
  bottom: -20px;
  font-size: 24px;
  color: #ff4d88;
  animation: floatUp linear forwards;
}

/* Анимация полёта */
@keyframes floatUp {
  0% {
    transform: translateY(0) scale(1);
    opacity: 1;
  }
  100% {
    transform: translateY(-800px) scale(1.5);
    opacity: 0;
  }
}
